In [1]:
#Datatypes:
a=10

In [2]:
type(a)

int

In [3]:
a=10
b=20
print a+b
print a*b
print a-b
print a**4
print a/b

30
200
-10
10000
0

In [4]:
print 10/5

2

In [5]:
print 10/3

3

In [6]:
print 10/3.0

3.33333333333

In [7]:
a=10
b=20
print a/b

0

In [8]:
type(a)

int

In [9]:
type(b)

int

In [10]:
print a/b

0

In [11]:
print float(a)/b

0.5

In [12]:
print a/float(b)

0.5

In [13]:
print float(a/b)

0.0

In [14]:
# operator precidency
float(0)

0.0

In [15]:
a=2.23456

In [16]:
type(a)

float

In [17]:
a=10.23
b=45.6
print a+b
print a-b
print a*b
print a/b

55.83
-35.37
466.488
0.224342105263

In [18]:
print 10%2

0

In [19]:
c1=1+2j
c2=2+3j

In [20]:
print type(c1)

<type 'complex'>

In [22]:
print c1+c2
print c1-c2
print c2*c1
print c1/c2

(3+5j)
(-1-1j)
(-4+7j)
(0.615384615385+0.0769230769231j)

In [23]:
print c1**2

(-3+4j)

In [24]:
a=12
c1=1+2j
print a+c1

(13+2j)

In [25]:
a=10
b=010
print a
print b

10
8

In [26]:
a=10
print "a"
print a

a
10

In [27]:
s='wert'

In [28]:
s

'wert'

In [29]:
type(s)

str

In [30]:
print z

NameError: name 'z' is not defined

In [31]:
print 10

10

In [33]:
print "z"
print z

z

NameError: name 'z' is not defined

In [34]:
s1="str1"
s2="str2"

In [35]:
print s1+s2

str1str2

In [36]:
print s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [37]:
print s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [38]:
print 10+20
print 10+2+3j

30
(12+3j)

In [39]:
s1="123"
print type(s1)

<type 'str'>

In [40]:
s2="456"

In [41]:
print s1+s2

123456

In [42]:
print "python"+"3"

python3

In [43]:
print "python"+3

TypeError: cannot concatenate 'str' and 'int' objects

In [44]:
print "python"*3

pythonpythonpython

In [45]:
print "python"/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [46]:
sal=23456
name = "Anil salary: "
print name+sal

TypeError: cannot concatenate 'str' and 'int' objects

In [47]:
print str(sal)

23456

In [48]:
sal1=str(sal)

In [49]:
type(sal1)

str

In [50]:
sal1

'23456'

In [51]:
sal=23456
name = "Anil salary: "
print name+str(sal)

Anil salary: 23456

In [52]:
s1="12"
s2="23"
print s1+s2

1223

In [53]:
s11= int(s1)
s22 = int(s2)

In [54]:
s11

12

In [55]:
s22

23

In [56]:
type(s11)

int

In [57]:
type(s22)

int

In [58]:
print s11+s22

35

In [59]:
s1="12.34"
s2="13.45"
print float(s1)+float(s2)

25.79

In [60]:
f=12.34

In [61]:
print int(f)

12

In [62]:
s1="12.34"
print int(s1)

ValueError: invalid literal for int() with base 10: '12.34'

In [63]:
s1="12ab"
print int(s1)

ValueError: invalid literal for int() with base 10: '12ab'

In [64]:
int?

In [65]:
int()

0

In [66]:
int?

In [67]:
s1="12ab"
print int(s1,13)

2676

In [68]:
s1="12ab"
print int(s1,11)

ValueError: invalid literal for int() with base 11: '12ab'

In [69]:
s1="12ab"
print int(s1,12)

2147

In [70]:
s1="12ab"
print int(s1,13)

2676

In [71]:
print 11*13**0+10*13**1+2*13**2+1*13**3

2676

In [72]:
s1="12.340"
print int(s1)

ValueError: invalid literal for int() with base 10: '12.340'

In [73]:
s1="12.34"
f=float(s1)
print int(f)

12

In [74]:
a=10
b=010
print a
print b

10
8

In [79]:
a=0x12
print a

18

In [76]:
print 0b010101

21

In [77]:
print 0o23

19

In [78]:
print 3*8**0+2*8**1

19

In [81]:
a=10
b=010
print a
print b

10
8

In [82]:
a=10
b=20
print a+b

30

In [83]:
a=raw_input("Enter a value: ")
print a
print type(a)

Enter a value: python
python
<type 'str'>

In [84]:
a=raw_input("Enter a value: ")
print a
print type(a)

Enter a value: 123
123
<type 'str'>

In [85]:
a=raw_input("enter a value: ")
b=raw_input("enter b value: ")
print a+b

enter a value: 12
enter b value: 23
1223

In [86]:
a=raw_input("enter a value: ")
b=raw_input("enter b value: ")
print int(a)+int(b)

enter a value: 12
enter b value: 23
35

In [87]:
a=raw_input("enter a value: ")
b=raw_input("enter b value: ")
print int(a)+int(b)

enter a value: 12.34
enter b value: 34

ValueError: invalid literal for int() with base 10: '12.34'

In [88]:
a=raw_input("enter a value: ")
b=raw_input("enter b value: ")
print float(a)+float(b)

enter a value: 12
enter b value: 23
35.0

In [89]:
a=raw_input("enter a value: ")
b=raw_input("enter b value: ")
print float(a)+float(b)

enter a value: 12.34
enter b value: 34.56
46.9

In [90]:
a=raw_input()
b=raw_input()
print float(a)+float(b)

12
23
35.0

In [91]:
a=raw_input("enter a value: ")
b=raw_input("enter b value: ")
print float(a)+float(b)

enter a value: 12ert
enter b value: 34

ValueError: invalid literal for float(): 12ert

In [92]:
#print 
name="Anil"
age=23
height=5.6

In [93]:
print name

Anil

In [94]:
# person name: Anil
print "person name" name

SyntaxError: invalid syntax (<ipython-input-94-ff06ff6130b3>, line 2)

In [95]:
# person name: Anil
print "person name:",name

person name: Anil

In [96]:
# name: Anil, age: 23, height: 5.6

print "name:",name,"age:",age,"height:",height

name: Anil age: 23 height: 5.6

In [97]:
# name: Anil, age: 23, height: 5.6

print "name:",name,", age:",age,", height:",height

name: Anil , age: 23 , height: 5.6

In [98]:
# name: Anil, age: 23, height: 5.6

print "name:",name,", age:",age,", height:",height

name: Anil , age: 23 , height: 5.6

In [99]:
print "name:",name

name: Anil

In [100]:
print "name:"+name

name:Anil

In [101]:
# name: Anil, age: 23, height: 5.6

print "name:",name+", age:",age+", height:",height

name: Anil, age:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [102]:
# name: Anil, age: 23, height: 5.6

print "name:",name+", age:",str(age)+", height:",height

 name: Anil, age: 23, height: 5.6

In [103]:
# format specifiers %s %d %f %r
# \n \t
#line1
#line2

In [104]:
print "luine1"
print "line2"

luine1
line2

In [105]:
print "line1","line2"

line1 line2

In [106]:
print "line1"+"line2"

line1line2

In [107]:
print "line1\nline2"

line1
line2

In [108]:
print "line1\tline2"

line1	line2

In [110]:
print "line1\Sline2"

line1\Sline2

In [111]:
print 'line1\nline2'

line1
line2

In [112]:
print "line1\nline2"

line1
line2

In [113]:
# it's a good day
print "it's a good day"

it's a good day

In [114]:
print 'it's a good day'

SyntaxError: invalid syntax (<ipython-input-114-ef1999732ed7>, line 1)

In [115]:
print 'it\'s a good day'

it's a good day

In [116]:
# "'python' 'c' "cpp""
print " 'python' 'c' \"cpp\" "

'python' 'c' "cpp"